body{
    background-color: rgb(0, 55, 100);
    color: white;
    font-family: sans-serif;
}

h1{
    text-align: center;
    font-size: 80px;
}

.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1170px;
    margin: 40px auto;
}

.box .number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 120px;
    height: 120px;
    margin: 20px;
    background: rgb(1, 90, 163);
    color: black;
}

.bg-green{
    background: green;
}

.bg-yellow{
    background: yellow;
}

.bg-red{
    background: red;
}

